/* CSS EXTERNO */
body{
    margin: 0;
    padding: 0;
}

#cabecalho{
    background-color: yellowgreen;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#navegacao{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}
#navegacao{
    text-decoration: none;
    padding: 5px;
    border color: 1px solid #000;
    
}