.container{
    width: 960;
    
}
@media (max-width: 768px){
    .container{
        width: 100%;
        
    }
}

@media (max-width: 400px){
    .container{
        width: 100%;
        
    }
}
table{
    border-collapse: collapse;
    
}
th, td{
    border: 1px solid black;
    padding: 20px;
}
tbody tr:nth-child(even){
    background-color: cadetblue;
}
thead th{
    background-color: blue;
    color: white;
}

tbody input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

tbody button{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}